<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1"></div>
    <div class="row"></div>
      <div class="col-12 col-md-9"></div>
        <h1><%= link_to place.name, place_path(place) %></h1>
        <i><%= place.address %></i><br /><br />
        <p><%= place.description %></p>
        <% if place.user.present? %>
        <small>- <%= place.user.email %></small>
        <% end %>
      <br />
      
      <div class="col-12 col-md-3">
        <% if place.images.present? %>
        <% end %>
      <div class="col-12">
        <blockquote>
          <img class="img-thumbnail" src="<%= place.image.last.image %>">
        </blockquote>
      </div>
     
    <div class="col-12 col-md-3">
      <blockquote class="comment">
        <% if place.comments.last.humanized_rating.present? %>
          <b><%= place.comments.last.humanized_rating %></b> - <%= place.comments.last.message %>
        <% end %>
        <small>- <%= place.comments.last.user.email %></small>
      </blockquote>
    </div>
  </div>
<% end %>


<%= will_paginate @page, previous_label: h("<"), next_label: h(">") %>

